/*-------------------------------ESTILO PARA EL LOGIN------------------------------------------------*/
/*ESTILIO PARA EL ENCABEZADO*/
.encabezado {
    background: #34495E;
    padding: 20px;
    color: #fff;
    width: 100%;
}

h4 {
    margin: 0 auto;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
  }
  
  /*ESTILO PARA EL LOGO DEL ENCABEZADO*/
  .imagen-logo-encabezado{
      float: left; 
      margin-left: 55px;
  }
  
  /*ESTILIO PARA EL ENCABEZADO*/
.encabezadoinferiorlogin {
    background: #34495E ;
    padding: 20px;
    color: #fff;
    width: 100%;
    text-align: center;
}


/* ESTILO PARA LAS CAJAS DE TEXTO DEL LOGIN*/
.login input {
    width: 330px;
    height: 50px;
    border: 1px solid #34495E;
    border-radius: 5px;
    border-color:#CCD1D1;
}


/* ESTILO PARA EL BOTON INGRESAR DEL LOGIN*/
#ingresar {
    background-color: #2471A3;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 330px;
    height: 50px;
    margin-bottom:25px;
}

#ingresar:hover {
    background-color: #2980B9;
    /* Cambia el color de fondo al pasar el cursor */
}

/* ESTILO PARA CENTRAR EL BOTON Y LAS CAJAS DE TEXTO DEL LOGIN*/
.form-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}


/* ESTILO PARA EL TEXTO DEL LOGIN*/
.texto-login{
    font-family: Arial; 
    font-size: 50px; 
    margin-top:25px;
}

.imagen-logo-izquierdo{
    margin-left:70px;
    margin-top:40px;

}

/*ESTILO PARA EL BOTON DESPLEGABLE USUARIO*/
.dropdown-toggle {
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 80px;
    height: 55px;
    float: right;
    display: inline-block;
    margin-top: 5px;
    margin-right: 55px;
}


.dropdown-menu.dropdown-menu-blue {
  border-radius: 10px;
  margin-right: 65px;
}

.dropdown-item {
  margin-top: 10px;
  margin-bottom: 10px;
}

/*ESTILO PARA EL BOTON DESPLEGABLE PAGINAS*/
.botones_encabezado_inicio {
    color: #fff;
    border-radius: 5px;
    float: right;
    display: inline-block;
    margin-top: 15px;
    margin-right: 80px;
    background:#34495E;
}

.botones_encabezado_visitante {
    color: #fff;
    border-radius: 5px;
    float: right;
    display: inline-block;
    margin-top: 15px;
    margin-right: 40px;
    background:#34495E;
}

.botones_encabezado_proveedores {
    color: #fff;
    border-radius: 5px;
    float: right;
    display: inline-block;
    margin-top: 15px;
    margin-right: 40px;
    background:#34495E;
}





/*-------------------------------FIN ESTILO PARA EL LOG IN------------------------------------------------*/


/*------------------------------- ESTILO PARA EL PANEL PRINCIPAL ------------------------------------------------*/
/*ESTILO PARA EL ENCABEZADO PRINCIPAL INFERIOR*/
.encabezadopinferior {
    background: #F2F3F4 ;
    text-align: center;
    padding: 25px;
    color: #000000;
    width: 100%;
}


/* ESTILO PARA LA FUENTE DE LA CARD CABECERA*/
.fuente-cabecera-card {
      font-size: 1.4em;
  color: #007bff;
  font-weight: 600;
}

/* ESTILO PARA LA FUENTE DE LA CARD DATOS*/
.fuente-dato-card {
     font-size:1.2em; 
     font-weight: 600;
}

/* ESTILO PARA LA CARD DE DATOS DEL ALUMNO RECIEN INGRESO*/
.card-alumno {
  border-radius: 25px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  border-width: 10px;
  border-style: solid;
  margin-bottom: 30px;
  width: 35rem;
}

/*ESTILO PARA LA CARD DEL TITULO*/
.card-titulo {
  border-radius: 10px;
  border-top-width: 0;
  margin-bottom: 30px;
  width:max-width;
  height:4rem;
  }
  
  /*ESTILO PARA EL TITUTLO DE LA PAGINA*/
  .titulo-panel{
      margin-top:10px;
  }
  

/* ESTILO PARA LA TABLA SU ENCABEZADO Y SUS DATOS*/
.tabla-contenedor {
  max-height: 650px;
  overflow-y: auto;
}

.tabla-estilo {
  border-radius: 25px;
  border-width: 5px;
  border-style: solid; 
}

.table thead th {
  background-color: #154360; 
  color: #fff; 
  position: sticky;
  top: 0;
}

.table tbody td {
  background-color: #B2BABB; 
  color: #000; 
  font-weight: 600;
}


.tabla-titulo{
    border-radius: 5px;
    border-width: 1px; 
    border-style: solid;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    background-color: #154360; 
    color: #fff; 
}


/* ESTILO PARA EL BOTON VISITANTE*/
#visitante {
    background-color: #186A3B;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;
}

/* Cambia el color de fondo al pasar el cursor */
#visitante:hover {
    background-color: #1D8348;
}

/* ESTILO PARA EL BOTON PROVEEDOR*/
#proveedor {
    background-color: #1B4F72;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 100%;
    height: 50px;
}

/* Cambia el color de fondo al pasar el cursor */
#proveedor:hover {
    background-color: #21618C;
}

.foto_usuario{
  margin: 0 auto 20px; /* Centrar la imagen y agregar un margen inferior de 20px */
  border-radius: 25px;
  box-shadow: 7px 7px 7px rgba(0, 0, 0, 0.1);
}

/* ESTILO PARA EL MODAL DEL PANEL PRINCIPAL PRIMERA PALABRA*/
.fuente-cabecera-card-modalp {
      font-size: 1.2em;
  color:#2874A6;
  font-weight: 600;
}

/* ESTILO PARA EL MODAL DEL PANEL PRINCIPAL SEGUNDA PALABRA*/
.fuente-dato-card-modalp {
     font-size:1.0em; 
     font-weight: 600;
}




